p
{
font-size:21pt;
color:lime;
}
p:first-letter
{
font-size:112pt;
color:silver;
}
p.dwa
{
font-size:21pt;
color:lime;
}
p.dwa:first-letter
{
font-size:112pt;
color: orange;
}
h1
{
color:purple;
font-size:34pt;
}	
h1:first-letter
{
color:silver;
font-size:120pt;
}
p.trzy
{
font-size:31pt;
color:purple;
}
p.trzy:first-letter
{
font-size:112pt;
color:red;
}
p.trzy:first-line
{
font-size:21pt;
color: red;
}